:root {
  --z-base: 0;
  --z-sticky: 10;
  --z-dropdown: 25;
  --z-submenu: 50;
  --z-navigation: 100;
  --z-message: 200;
  --z-backdrop: 300;
  --z-modal: 400;
  --z-tooltip: 500;
  --z-max: 10000;
}
